[data-toggle="collapse"] {
    cursor: pointer;
}

.modal img {
    max-height: 100%;
    max-width: 100%;
}

.list-group-item .table,
.panel-body .list-group,
.panel-body .table {
    margin-bottom: 0;
}

.role-list li:hover{
    background: #E9E9E9;
    border-radius: 4px;
}

.subtitle img {
    max-height: 1em;
}

.tooltip img {
    max-height: 32px;
}

.zone-table th,
.zone-table td {
    text-align: center;
}

.zone-table td:first-child {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}